<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/mystyles.css">

</head>
<body>

    <div class="container">


        <h1>Homepage</h1>

        <p>
            There are {{records | length }} records.
        </p>


        <ul>
            {% for y in years %}
                <li><a href="/year/{{y}}">{{y}}</a></li>
            {% endfor %}
        </ul>


        <section>

            <h2>Top Failures</h2>

            <table class="table table-condensed table-sm">
                {% for f in failures %}

                    <tr>
                        <td>
                            <a href="{{f.url}}">{{f['project_name']}}</a>
                        </td>

                    </tr>

                {% endfor %}
            </table>

        </section>


    </div>


</body>
</html>
